.modal-content {
  /*background: rgb(213, 211, 211) !important;*/
}

.modal-header .close {
  color: white;
}

.dao-search .md-form {
  margin-top: 0;
  margin-bottom: 0;
}

.dao-search input {
  color: #fff !important;
}

.dao-search {
  margin-right: 24px;
  position: relative;
}

.dao-search-results {
  position: absolute;
  background-color: #5b6577;
  padding: 8px 16px;
  z-index: 5;
  border-radius: 4px;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.dao-search-results-list {
  list-style: none;
  padding-left: 0;
}

.dao-search-results-list a {
  color: #fff;
}

.dao-search-results-list a:hover {
  color: #f8e6ae;
}

.dao-search-results-item {
  padding: 8px 0;
}
